BODY {
    width: 100%
}

@media screen and (max-width:450px) {
    IMG {
        display: none
    }
}

#Left_Information {
    width: 50%;
    float: left;
    background-color:bisque    
}

#Right_Information {
    width: 50%;
    float: right;
    background-color:gainsboro
}

IMG {
    position: relative;
    left: 50%;
}

H4 {
    text-align: center
}

H4, H3 {
    margin-bottom: 0;
    clear: both
}

#Text_Information {
    width: 49%;
    float: left;
    border: 1px solid black
}

#Text {
    margin-left: 25%
}

#Photo {
    width: 50%;
    float: right
}